/* styles.css */
@import url("https://fonts.cdnfonts.com/css/satoshi");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Satoshi";
  font-size: 22px;
  font-style: normal;
}

.bg-custom-blue {
  background-color: #00adef; 
}

.bg-custom-dark {
  background-color: #101010;
}

.secondary {
  color: #8D8BA1;
}
